#!/bin/sh
mkdir -p ~/.local/state/bash
mkdir -p ~/.local/state/zsh
touch  ~/.local/state/bash/history
touch  ~/.local/state/zsh/history
sudo apt install build-essential libpam0g-dev libxcb-xkb-dev zsh nala wget nodejs npm bspwm sxhkd git xorg python3-pip polybar flatpak nitrogen lxpolkit x11-xserver-utils psmisc fonts-noto-color-emoji roif -y
sudo nala install apt-transport-https curl -y
curl -fsSLo /usr/share/keyrings/brave-browser-archive-keyring.gpg https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg
echo "deb [signed-by=/usr/share/keyrings/brave-browser-archive-keyring.gpg arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main" | tee /etc/apt/sources.list.d/brave-browser-release.list
sudo nala update
sudo nala install brave-browser -y
sudo systemctl set-default graphical.target


